body {
    background-color: black;
    color: white;
    margin: 0 auto;

}
header{
    width: 100%;
    height: 250px;

}
.divBusca {
    display: inline;
    /*float: right;*/
    position: fixed;
    left: 500px;
    padding: 60px;

    }
    #txtBusca {
        width: 350px;
    }
.divLogin {
    display: inline;
    float: right;
    margin-right: 30px;
    padding-top:  10px;
    border: solid 1px #00ffff;
    border-radius: 5px;
    top: 25px;
    left: 40%;
    color: #00ffff;
    font-style: italic;
    
}
.divMatricula {
    display: inline;
    float: right;
    margin-right: 50px;
    padding: 10px;
    border: solid 1px #00ffff;
    border-radius: 5px;
    color: #00ffff;
    font-style: italic;
}
.mergulhe {
    display: inline;
    float: left;
    width: 35%;
    color: #00ffff;
    font-style: italic;
    margin-left: 50px;


}
main {
    width: 100%;
    height: 450px;
}

.mainImg {
    display: inline;
    float: right;
    width: 45%;


}
section {
    width: 100%;
    height: 250px;
}
section div{
    display: inline;
    border: solid 1px;
    border-radius: 15px;
    margin: 5px;
    padding: 30px;
    color: #00ffff;
    font-style: italic;
    margin-left: 50px;
    margin-right: 0 ;
    padding-top: 50px;
    
    

}
a{
    color: #00ffff;
    text-decoration: none;
}
footer {
    width: 100%;
    height: 70px;
    border: solid 1px #00ffff;
    color: #00ffff;

}
footer ul li {
    display: inline;
    width: 100%;
    margin: 5px;
    padding: 100px;
    font-style: italic;
    margin-right: auto;
}
.imgFace {

    display: inline;
    float: right;
    padding-top: 10px;
    margin-right: 50px;
}
.imgInstagram {
    display: inline;
    float: right;
    padding-top: 10px;
    margin-right: 15px;
}
.imgWhatsapp {
    display: inline;
    float: right;
    padding-top: 10px;
    margin-right: 15px;
}